<a href="https://colab.research.google.com/github/terence-mitterrand/terence-mitterrand-DataScience-GenAI-Submissions/blob/main/Exercise_1/2_01_data_and_feature_engineering_in_pandas_COMPLETED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1xqQczl0FG-qtNA2_WQYuWePW9oU8irqJ)

# Data and Feature Engineering
This Notebook will introduce us to preparing our datasets for data science and AI workloads. For sturctured data, this will often utilise popular Python libraries such as Pandas, which will be the focus for this Notebook.

### What is Pandas?
As Python has grown to become a popular solution for data analysis, many new tools have been introduced to support such tasks. Pandas is arguably the most popular and widely used of these, although it does have some limitations (if working with very large datasets you may want to look at Dask and/or PySpark).

First, we will import it into our session. This effectively means we have opened the library in the background, and can now use the [functions](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_10_functions.ipynb) built into it. We will also import numpy - another widely used Python package for working with numerical data (the name is a portmanteau of "numerical" and "python"). By convention we import pandas as "pd" and numpy as "np". This is equivalent to giving it a variable name.

### Testing our installation
To test everything is working we will create some fake data frame using numpy and load it into a pandas dataframe (more on these below). First we will create the random numbers:

In [ ]:
x = np.random.rand(10,1)
x

array([[0.65186895],
       [0.46433724],
       [0.96938069],
       [0.55226834],
       [0.16682627],
       [0.8845754 ],
       [0.94035004],
       [0.49728087],
       [0.18911735],
       [0.80307826]])

The commands here have told numpy to create a set of random numbers between zero and one. The arguments we have passed, "1" and "10", tells numpy we want a 10x1 array of numbers (i.e. a table (more accurately a vector) with 10 rows and 1 column).

Next we will create a pandas dataframe using "x":

In [ ]:
testdf = pd.DataFrame(x)
testdf

          0
0  0.552701
1  0.467788
2  0.885625
3  0.671739
4  0.464659
5  0.745179
6  0.882171
7  0.724812
8  0.147039
9  0.525349

We have now successfully created a pandas dataframe!

### What are Dataframes?
Pandas has a very elegant way of managing data, very much borrowed from the statistical language R, mostly based around dataframes. You can think of dataframes a bit like an Excel table with rows, columns and common operations like sum, average and so on. We can use this on top of our previous work on lists and dictionaries (etc.) more usable and malleable.

To begin with we will create a dataset - in this case a [dictionary](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_05_dictionaries.ipynb).

In [ ]:
orders = {'o10001':{'date':'2024/01/10', 'product':'Hoodie', 'quantity':'1'},
            'o10002':{'date':'2024/01/13', 'product':'Tote bag', 'quantity':'2'},
            'o10003':{'date':'2024/01/14', 'product':'Pencil', 'quantity':'10'},
            'o10004':{'date':'2024/01/15', 'product':'T-shirt', 'quantity':'2'}
}
orders

{'o10001': {'date': '2024/01/10', 'product': 'Hoodie', 'quantity': '1'},
 'o10002': {'date': '2024/01/13', 'product': 'Tote bag', 'quantity': '2'},
 'o10003': {'date': '2024/01/14', 'product': 'Pencil', 'quantity': '10'},
 'o10004': {'date': '2024/01/15', 'product': 'T-shirt', 'quantity': '2'}}

We can convert this to a Dataframe with great ease

In [ ]:
import pandas as pd
import numpy as np

orders_df = pd.DataFrame(orders)
orders_df

              o10001      o10002      o10003      o10004
date      2024/01/10  2024/01/13  2024/01/14  2024/01/15
product       Hoodie    Tote bag      Pencil     T-shirt
quantity           1           2          10           2

We can even create such outputs from more complex dictionaries, such as a dictionary which includes a nested list:

In [ ]:
customers = {'Mark':{'name':'Mark Johnson', 'open_orders':3, 'orders':['o10001', 'o10002', 'o10004']},
             'Katy':{'name':'Katy Hoad', 'open_orders':0, 'orders':[]},
             'Angela':{'name':'Angela Lorenz', 'open_orders':1, 'orders':['o10003']},
             'Bo':{'name':'Bo Kelestyn', 'open_orders':0, 'orders':[]}
}
customers

{'Mark': {'name': 'Mark Johnson',
  'open_orders': 3,
  'orders': ['o10001', 'o10002', 'o10004']},
 'Katy': {'name': 'Katy Hoad', 'open_orders': 0, 'orders': []},
 'Angela': {'name': 'Angela Lorenz', 'open_orders': 1, 'orders': ['o10003']},
 'Bo': {'name': 'Bo Kelestyn', 'open_orders': 0, 'orders': []}}

In [ ]:
customers_df = pd.DataFrame(customers)
customers_df

                                 Mark       Katy         Angela           Bo
name                     Mark Johnson  Katy Hoad  Angela Lorenz  Bo Kelestyn
open_orders                         3          0              1            0
orders       [o10001, o10002, o10004]         []       [o10003]           []

Pandas dataframes can also be built from various other data structures and sources (including Excel files, CSVs, text files, databases and many more). For example, we can make our dataframe from a set of [lists](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_04_lists.ipynb):

In [ ]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d"]
c = [True, False, True, False]

listdf = pd.DataFrame([a, b, c])
listdf

      0      1     2      3
0     1      2     3      4
1     a      b     c      d
2  True  False  True  False

### EXERCISE
Try building your own dataframes from a list and/or dictionary you create. What would happen if you have an item missing from one element. E.g. if "c" in the above example only had three items - True, False, True - rather than four. Test it - does the output match your expectation?

In [ ]:
import pandas as pd
import numpy as np

Now,I will create a set of list including one that has a missing item to see how dataframe deals with it. I am expecting the dataframe to function properly and indicate that a value is missing in the specific location.

In [ ]:
list1 = [10, 20, 30, 40]
list2 = ['A', 'B', 'C', 'D']
list3 = ['x', 'y', 'z'] # This list has a missing item
list4 = [10.1, 20.2, 30.3, 40.4]

missing_item_df = pd.DataFrame([list1, list2, list3, list4])
missing_item_df

      0     1     2     3
0    10    20    30    40
1     A     B     C     D
2     x     y     z  None
3  10.1  20.2  30.3  40.4

List 3 has one missing item hence the pandas datafram filled its spot with "None" to represent the missing value. As expected th dataframe perfectly navigated the issue and simply indicated that an item is missing.

I will now create another dataframe from a different data structure, dictionaries. This time I will include 5 missing values. I except the dataframe to have a similar output as above and simply indicate that a value is missing in each spot concerned.

In [ ]:
data_with_missing = {
    'Product_A': {'price': 100, 'stock': 50, 'color': 'red', 'size': 'M'},
    'Product_B': {'price': 150, 'stock': 30, 'size': 'L'}, # Missing 'color' (1)
    'Product_C': {'price': 200, 'color': 'blue'},           # Missing 'stock', 'size' (2)
    'Product_D': {'stock': 10, 'color': 'green'}            # Missing 'price', 'size' (2)
}

missing_dict_df = pd.DataFrame(data_with_missing)
missing_dict_df

      Product_A Product_B Product_C Product_D
price       100       150       200       NaN
stock        50        30       NaN        10
color       red       NaN      blue     green
size          M         L       NaN       NaN

As expected the pandas dataframe filled the output of missing values by indicating that they are missing. However, this time it was represented by "NaN" rather than "None".